.header__content-button, .header__top-button {
  background-color: #FFCA42;
  letter-spacing: 0.57px;
  text-transform: capitalize;
  color: #1B3764;
  transition: all 0.3s ease-in-out;
}

.books-button {
  background: transparent;
  color: #1B3764;
  letter-spacing: 0.38px;
}

.button {
  font-family: "Cardo", serif;
  cursor: pointer;
  padding: 18px 0;
  width: 50%;
  border: 2px solid #FFCA42;
  line-height: 28px;
  font-size: 19px;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p, a, span, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cardo";
  font-weight: 400;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

body {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  text-transform: capitalize;
  color: #1B3764;
  position: relative;
}
.title::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #FFCA42;
  position: absolute;
}

.author__about-contact.only-media {
  display: none;
}

.pointer {
  width: 1px;
  height: 1px;
  background-color: #FFCA42;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 1px solid #FFCA42;
}

.half-pointer {
  width: 1px;
  height: 1px;
  background: linear-gradient(90deg, #FFCA42 50%, #FFFFFF 50%);
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #FFCA42;
}

.decor-img {
  width: 545px;
  height: 640px;
  background: transparent;
  z-index: 1;
  border: 8px solid #FFCA42;
  position: absolute;
}

.header {
  background-color: #1B3764;
  padding: 15px 0;
}

.header__top {
  display: flex;
}
.header__top-left, .header__top-right {
  display: flex;
  align-items: center;
}
.header__top-left {
  flex-grow: 1;
  justify-content: space-around;
}
.header__top-right {
  flex-grow: 2;
  justify-content: space-around;
}
.header__top-button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}

.social__nav-list {
  display: flex;
  gap: 10px;
}
.social__nav-item {
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  border-radius: 30%;
}
.social__nav-item:hover {
  background-color: #FFCA42;
  transform: scale(1.1);
}
.social__nav-svg {
  padding: 15px;
}

.menu__nav {
  width: 100%;
}
.menu__nav-items {
  display: flex;
  justify-content: space-around;
}
.menu__nav-link {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.17px;
  color: #F6F8FC;
}
.menu__nav-link:hover {
  color: #FFCA42;
}
.menu__nav-svg path {
  fill: #000000;
}
.menu__nav-svg path:hover {
  fill: #FFCA42;
}
.menu__nav-current {
  color: #FFCA42;
}

.header__content-inner {
  display: flex;
  margin-top: 100px;
}
.header__content-text {
  padding: 147px 25px;
  font-family: "Cardo";
  color: #ffffff;
}
.header__content-line {
  width: 35px;
  background-color: #FFCA42;
  height: 2px;
  display: inline-block;
  position: relative;
  bottom: 6px;
}
.header__content-text--top {
  display: inline-block;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  margin-left: 14px;
}
.header__content-text--bottom {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #969AA0;
  padding: 52px 0;
  max-width: 605px;
}
.header__content-title {
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 1.3px;
  padding-top: 10px;
}
.header__content-link {
  margin-left: 50px;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.38px;
  text-transform: capitalize;
  border-bottom: 1px solid #969AA0;
  padding: 5px 0;
  color: #FFFFFF;
}
.header__content-link:hover {
  color: #FFCA42;
}
.header__content-button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}

.header__features-list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.header__features-item {
  position: relative;
}
.header__features-title {
  display: block;
}
.header__features-descr {
  font-family: "Inter", sans-serif;
  display: block;
  text-align: right;
}
.header__features-decor {
  padding: 7px;
  margin-right: 10px;
}

.books__title {
  margin-top: 120px;
}
.books__title::after {
  top: 60px;
  left: 630px;
}
.books__inner {
  display: flex;
  margin-top: 10px;
  padding: 60px 15px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.books-wrapper {
  display: flex;
  max-width: 630px;
}
.books-decription {
  padding: 36px 0;
  margin: 17px 0 17px 20px;
}
.books-title {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.32px;
  color: #1B3764;
}
.books-price {
  font-size: 21px;
  line-height: 33px;
  color: #FFCA42;
  margin-top: 7px;
}
.books-text {
  font-size: 19px;
  line-height: 28px;
  color: #969AA0;
  margin-top: 17px;
}
.books-cover {
  display: block;
  font-size: 24px;
  line-height: 29px;
  color: #1B3764;
  margin-top: 13px;
}
.books-cover::before {
  content: " ";
  width: 1px;
  height: 1px;
  background-color: #FFCA42;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 7px;
  margin-right: 6px;
}
.books-button {
  margin-top: 30px;
}
.books-button:hover {
  transform: scale(1.1);
}

.author {
  background-color: #F5F8FC;
}
.author__inner {
  display: flex;
  padding: 140px 70px;
}
.author__about {
  padding: 40px 0 25px 36px;
  max-width: 559px;
}
.author__about-title {
  text-align: left;
}
.author__about-title::after {
  top: 75px;
  left: 0;
}
.author__inner-img {
  position: relative;
}
.author__inner-decor {
  bottom: 0;
  left: 0;
}
.author-img {
  position: relative;
  z-index: 2;
  bottom: 40px;
  right: 40px;
}
.author__about-text {
  margin-top: 60px;
  font-size: 19px;
  line-height: 34px;
  color: #969AA0;
}
.author__about-items {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.author__about-item--border {
  border-left: 1px solid #FFCA42;
  border-right: 1px solid #FFCA42;
  padding-left: 26px;
  padding-right: 26px;
}
.author__item-quantity {
  font-family: "Cardo", serif;
  font-size: 54px;
  line-height: 77px;
  color: #1B3764;
  display: block;
  text-align: left;
}
.author__item-info {
  font-size: 17px;
  line-height: 22px;
  color: #969AA0;
}
.author__about-contact {
  display: flex;
  margin-top: 55px;
  padding: 15px 20px;
  background-color: #1B3764;
  max-width: 484px;
}
.author__contact-text {
  padding: 18px 0 20px 40px;
}
.author__contact-title {
  font-size: 22px;
  line-height: 26px;
  color: #FFCA42;
}
.author__contact-subtitle {
  font-size: 18px;
  line-height: 28px;
  color: #969AA0;
  display: inline-block;
  margin-top: 10px;
}
.author__contact-link {
  padding-left: 10px;
  font-size: 18px;
  line-height: 28px;
  color: #B4C7E7;
  letter-spacing: 0.3px;
}
.author__contact-link:hover {
  color: #FFCA42;
}

.best {
  padding: 110px 70px;
}
.best__inner-title {
  padding-bottom: 25px;
}
.best__inner-title::after {
  bottom: 0;
  left: 600px;
}
.best__inner-items {
  display: flex;
  margin-top: 40px;
  text-align: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.best__inner-subtitle {
  color: #1B3764;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
}
.best__inner-text {
  font-size: 19px;
  line-height: 28px;
  color: #969AA0;
  margin-top: 20px;
}

.get {
  background-color: #1B3764;
}
.get__inner {
  padding: 70px 50px;
  display: flex;
}
.get__inner-title {
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 24px;
}
.get__inner-title::after {
  left: 0;
  bottom: 0;
}
.get__inner-left {
  padding: 55px 130px 55px 0;
}
.get__inner-text {
  font-size: 19px;
  line-height: 28px;
  color: #B4C7E7;
  margin-top: 27px;
}
.get__inner-button {
  color: #FFFFFF;
  background: transparent;
  margin-top: 27px;
  letter-spacing: 0.4px;
}
.get__inner-button:hover {
  transform: scale(1.1);
}

.learn {
  padding: 120px 70px;
}
.learn__inner {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}
.learn__inner-img {
  position: relative;
}
.learn__inner-decor {
  position: absolute;
  right: 0;
  bottom: 0;
}
.learn-img {
  position: relative;
  bottom: 30px;
  right: 30px;
  z-index: 2;
}
.learn__title {
  padding-bottom: 23px;
  text-align: center;
}
.learn__title::after {
  bottom: 0;
  left: 610px;
}
.learn__inner-items {
  padding: 40px 80px 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.learn__inner-item {
  background-color: #F5F8FC;
  padding: 30px 34px;
}
.learn__item-text {
  font-size: 24px;
  line-height: 34px;
  color: #1B3764;
  font-family: "Cardo", serif;
  margin-top: 30px;
}
.learn__item-decor {
  font-family: "Cardo", serif;
  font-size: 23px;
  line-height: 29px;
  color: #1B3764;
  text-align: center;
  position: relative;
  z-index: 3;
}
.learn__item-decor::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFCA42;
  position: absolute;
  z-index: -1;
  bottom: -10px;
  right: -14px;
}

.vision {
  padding: 100px 70px;
  background-color: #F5F8FC;
}
.vision__title {
  padding-bottom: 23px;
}
.vision__title::after {
  bottom: 0;
  left: 550px;
}
.vision__inner-chapters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 60px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 40px;
}
.vision__inner-chapter {
  background-color: #ffffff;
  padding: 40px;
  font-size: 22px;
  line-height: 30px;
  color: #1B3764;
}
.vision__chapter-decor {
  padding: 7px;
}
.vision__chapter-text {
  font-size: 19px;
  line-height: 32px;
  color: #969AA0;
}
.vision__chapter-text {
  margin-top: 20px;
}
.vision__chapter-features {
  margin-top: 20px;
  display: inline-block;
}
.vision__chapter-features:last-child {
  margin-left: 45px;
}
.vision__chapter-descr {
  margin-left: 10px;
}
.vision__inner-button {
  padding: 24px 92px;
  cursor: pointer;
  color: #1B3764;
  background-color: #FFCA42;
  border: none;
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.57px;
  text-transform: capitalize;
  display: block;
  margin: 60px auto 30px auto;
}
.vision__inner-footer {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #969AA0;
}
.vision__inner-footer a {
  color: #1B3764;
}

.features-title {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.48px;
}

.features-descr {
  font-size: 20px;
  line-height: 27px;
  color: #B4C7E7;
  padding-top: 12px;
}

.reviews {
  padding: 120px 70px;
}
.reviews__flex {
  display: flex;
}
.reviews__inner {
  max-width: 460px;
  padding: 94px 30px 94px 0;
}
.reviews__inner-title {
  text-align: left;
  padding-bottom: 25px;
}
.reviews__inner-title::after {
  bottom: 0;
  left: 0;
}
.reviews__inner-text {
  font-size: 19px;
  line-height: 34px;
  margin-top: 30px;
  color: #969AA0;
}
.reviews__inner-items {
  display: grid;
  grid-template-columns: repeat(2, minmax(1fr, 380px));
  grid-template-rows: repeat(2, minmax(1fr, 380px));
  gap: 20px;
}
.reviews__inner-item {
  padding: 20px;
  background-color: #1B3764;
}
.reviews__inner-item--one {
  grid-column: 1/2;
}
.reviews__inner-item--two {
  grid-column: 1/2;
}
.reviews__inner-item--three {
  grid-column: 2/3;
  grid-row: 1/4;
  align-self: center;
}
.reviews__item-title {
  color: #ffffff;
}
.reviews__rating-items {
  margin-top: 15px;
}
.reviews__rating-all {
  display: block;
  font-size: 18px;
  line-height: 28px;
  color: #1B3764;
  margin-top: 15px;
}
.reviews__rating-item {
  padding: 7px;
}
.reviews__rating-total {
  display: inline-block;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  color: #1B3764;
  font-family: "Cardo", serif;
  margin-left: 10px;
}
.reviews__item-quote {
  font-size: 22px;
  line-height: 25px;
  color: #ffffff;
  display: block;
  margin-top: 20px;
}
.reviews__item-text {
  font-size: 18px;
  line-height: 29px;
  color: #B4C7E7;
  margin-top: 20px;
}
.reviews__user-box {
  max-width: 165px;
}
.reviews__user-wrapper {
  display: flex;
  gap: 20px;
}
.reviews__rating-item--small {
  padding: 4px;
}

.articles {
  background-color: #F5F8FC;
  padding: 100px 70px;
}
.articles__title {
  padding-bottom: 25px;
}
.articles__title::after {
  bottom: 0;
  left: 570px;
}
.articles__list-items {
  display: flex;
  margin-top: 70px;
  gap: 20px;
}
.articles__item-preview {
  padding: 20px;
  min-height: 270px;
}
.articles__item {
  height: 622px;
  max-width: 420px;
}
.articles__item-img {
  width: 100%;
}
.articles__item-title {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.24px;
  color: #1B3764;
}
.articles__item-text {
  font-size: 19px;
  line-height: 30px;
  color: #969AA0;
  margin-top: 20px;
}
.articles__item-link {
  float: left;
  color: #1B3764;
  text-decoration: underline;
}
.articles__item-link:hover {
  color: #FFCA42;
}
.articles__item-date {
  float: right;
}
.articles__item-more {
  margin-top: 20px;
}

.updates {
  padding: 120px 70px;
}
.updates__inner {
  background-color: #FFCA42;
  padding: 150px 90px;
}
.updates__inner-title {
  color: #1B3764;
  padding-bottom: 25px;
}
.updates__inner-title::after {
  background-color: #1B3764;
  bottom: 0;
  left: 470px;
}
.updates__inner-text {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #1B3764;
  margin-top: 25px;
}
.updates__inner-form {
  margin-top: 50px;
  text-align: center;
}
.updates__inner-form input[type=email] {
  width: 650px;
  max-width: 100%;
  padding: 10px;
  outline: none;
  font-size: 20px;
  border: none;
  color: #1B3764;
  font-family: "Inter", sans-serif;
}
.updates__inner-form input[type=email]::-moz-placeholder {
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.18px;
  color: #B4C7E7;
  padding: 10px;
}
.updates__inner-form input[type=email]:-ms-input-placeholder {
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.18px;
  color: #B4C7E7;
  padding: 10px;
}
.updates__inner-form input[type=email]::placeholder {
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.18px;
  color: #B4C7E7;
  padding: 10px;
}
.updates__form-button {
  padding: 7px 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.18px;
  color: #FFFFFF;
  background-color: #1B3764;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  transition: all 0.3s ease-in-out;
}
.updates__form-button:hover {
  transform: scale(1.1);
}

.footer {
  background-color: #1B3764;
  padding: 70px 70px 0 70px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__social-nav {
  margin-top: 30px;
}
.footer__wrapper-title {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.384px;
  color: #FFFFFF;
  font-family: "Cardo", serif;
  font-weight: 400;
}
.footer__wrapper-list {
  margin-top: 30px;
}
.footer__wpapper-item {
  margin-top: 10px;
}
.footer__wrapper-link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 0.18px;
  color: #B4C7E7;
}
.footer__wrapper-link:hover {
  color: #FFCA42;
}
.footer__copyright {
  text-align: center;
  padding: 20px 0;
  margin-top: 60px;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.17px;
  color: #969AA0;
}
.footer__copyright-link {
  color: #ffffff;
}
.footer__wrapper-address {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 30px;
}
.footer__address {
  font-family: "Cardo";
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: #FFFFFF;
}
.footer__address-text {
  font-size: 17px;
  line-height: 27px;
  color: #B4C7E7;
}
.footer__address-link {
  font-size: 17px;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.18px;
  color: #B4C7E7;
}
.footer__address-link:hover {
  color: #FFCA42;
}

@media (max-width: 1260px) {
  .header__content-img {
    width: 50%;
    height: 50%;
  }
  .header__content-title {
    font-size: 3rem;
  }
  .header__content-button.button {
    width: 40%;
  }
  .header__content-text {
    padding: 100px 15px;
  }
  .books__title {
    margin-top: 80px;
  }
  .title::after {
    display: none;
  }
  .books__inner {
    padding: 40px 15px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .books-button.button {
    width: 95%;
  }
  .books-img {
    width: 80%;
    height: 80%;
  }
  .books-wrapper {
    align-items: center;
  }
  .author__about {
    padding-left: 25px;
    flex: 1;
  }
  .author__about-text {
    margin-top: 20px;
    font-size: 17px;
  }
  .author__about-contact {
    margin-top: 20px;
  }
  .author__about-items {
    margin-top: 5px;
  }
  .author__inner {
    padding: 100px 30px;
  }
  .author__inner-decor {
    display: none;
  }
  .author__inner-img {
    flex: 1;
  }
  .author-img {
    bottom: 0;
    right: 0;
    max-width: 100%;
  }
}
@media (max-width: 1100px) {
  .header__top {
    flex-direction: column;
    row-gap: 20px;
  }
  .header__top-left {
    justify-content: space-evenly;
  }
  .button {
    width: 25%;
  }
  .header__content-text {
    padding: 10px 10px;
    flex: 1;
  }
  .header__content-img {
    width: 40%;
    height: 40%;
    flex: 1;
  }
  .header__content-inner {
    margin-top: 50px;
  }
  .books__inner {
    padding: 15px 15px;
    flex-direction: column;
  }
  .books-wrapper {
    max-width: 95%;
  }
  .books-decription {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
  }
  .books-title {
    font-size: 3rem;
  }
  .books-price {
    font-size: 1.7rem;
  }
  .books-img {
    flex: 1;
  }
  .books-text {
    font-size: 1.5rem;
  }
  .author__inner {
    padding: 60px 15px;
  }
  .author__about {
    padding-top: 20px;
  }
  .author__about-item--border {
    padding-left: 12px;
    padding-right: 12px;
  }
  .author__about-contact {
    margin-top: 10px;
    padding: 5px 13px;
  }
  .author__item-quantity {
    line-height: 50px;
  }
  .author__contact {
    padding: 5px 15px;
  }
  .author__contact-qr {
    width: 35%;
    height: 35%;
  }
  .author__contact-text {
    padding: 9px 0 11px 13px;
  }
  .author__contact-subtitle, .author__contact-link {
    font-size: 14px;
    line-height: 26px;
  }
}
@media (max-width: 940px) {
  .header__content-text--bottom {
    padding: 20px 0;
  }
  .header__features-list {
    max-width: 93%;
  }
  .header__content-title {
    font-size: 2rem;
    line-height: 40px;
  }
  .books-decription {
    gap: 5px;
  }
  .author__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .author__inner-img {
    margin-top: 30px;
  }
  .author__about {
    max-width: 100%;
  }
  .author__about-contact {
    display: none;
  }
  .author__about-items {
    margin-top: 30px;
    justify-content: center;
    gap: 50px;
  }
  .author__about-item--border {
    border: none;
  }
  .author__about-title {
    text-align: center;
  }
  .author__about-contact.only-media {
    display: flex;
  }
}
@media (max-width: 900px) {
  .header__content-inner {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .header__content-text {
    width: 95%;
  }
  .header__content-img {
    width: 75%;
    height: 75%;
  }
  .books-title {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .header__top-right {
    flex-direction: column;
    gap: 20px;
  }
  .button {
    width: 60%;
  }
  .header__top-button {
    display: none;
  }
  .header__content-button.button {
    width: 50%;
  }
  .header__features-list {
    max-width: 100%;
  }
  .books__inner {
    padding: 0 0;
  }
  .books__title {
    margin-top: 50px;
  }
  .books-button {
    margin-top: 30px;
  }
  .books-text {
    font-size: 1.1rem;
    margin-top: 0;
  }
  .books-img {
    width: 50%;
    height: 50%;
  }
  .author__inner {
    padding: 30px 10px;
  }
}
@media (max-width: 600px) {
  .books-decription {
    gap: 0;
    margin: 0px 0 0px 10px;
    padding: 15px 0;
  }
  .books-button.button {
    margin-top: 10px;
    width: 90%;
    padding: 10px 0;
  }
  .books-title {
    font-size: 1.7rem;
  }
  .books-price {
    font-size: 1rem;
    margin-top: 0;
  }
  .books-text {
    font-size: 1rem;
  }
  .books-cover {
    margin-top: 0;
    font-size: 1rem;
  }
  .title {
    font-size: 2rem;
  }
  .books__inner {
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 15px;
  }
  .header__top-left {
    flex-direction: column;
    gap: 20px;
  }
  .menu__nav-items {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .header__top {
    height: 100vh;
  }
  .menu__nav-link {
    font-size: 2rem;
  }
  .logo {
    width: 100%;
  }
  .header__content-link {
    display: block;
    text-align: center;
    margin: 30px auto 0 auto;
    width: 50%;
  }
  .header__content-button.button {
    width: 100%;
    margin-top: 30px;
  }
  .header__content-text--bottom {
    font-size: 1.5rem;
  }
  .header__features-list {
    display: none;
  }
  .header__content-img {
    width: 100%;
  }
  .header__content-title {
    font-size: 3rem;
    line-height: 60px;
  }
  .books-wrapper {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
  }
  .books-button.button {
    align-self: center;
    width: 80%;
  }
  .title {
    font-size: 2.3rem;
  }
  .books-img {
    width: 95%;
    height: 95%;
  }
  .books-decription {
    margin: 0;
    gap: 10px;
  }
  .books-title {
    font-size: 2rem;
  }
  .books-price {
    font-size: 1.7rem;
  }
  .books-text {
    font-size: 1.4rem;
  }
  .books-cover {
    font-size: 1.5rem;
  }
  .books-button.button {
    padding: 15px 0;
  }
  .books__atomic {
    border-bottom: 1px solid #FFCA42;
    padding-bottom: 20px;
  }
  .author__about-items, .author__inner-img {
    margin-top: 10px;
  }
  .author__about {
    padding-left: 0;
  }
  .author__item-quantity {
    font-size: 40px;
  }
}
@media (max-width: 400px) {
  .author__contact-subtitle {
    margin-top: 5px;
  }
  .author__contact-qr {
    width: 30%;
  }
  .author__contact-text {
    padding: 0 0 0 7px;
  }
  .author__about-contact {
    padding: 2px 2px;
  }
}/*# sourceMappingURL=styles.css.map */